name: Add PRs to LDD Project
on:
  pull_request:
    types: [opened, reopened]
jobs:
  add-to-project:
    name: Add pull request to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1
        with:
          project-url: https://github.com/orgs/pds-data-dictionaries/projects/3
          github-token: ${{ secrets.GITHUB_TOKEN }}
